@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

$red: #f65351;
$blue: #0a317b;
$white: #ffffff;
$veryGreyishBlue: #f7fafd;
$lightGreyishBlue1: #e5effa;
$lightGreyishBlue2: #dde7ee;
$greyishBlue: #939dae;
$darkGreyishBlue: #5e6778;
$veryDarkBlue: #1c202b;

$font: "Plus Jakarta Sans", sans-serif;
$medium: 500;
$extraBold: 800;